<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>待办事项列表</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/base.css">
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12 jumbotron">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>
                    <form method="POST" action="{% block form_action %}{% endblock %}">
                        {{ form.text }}
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="form-group has-error">
                                <span class="help-block">{{ form.text.errors }}</span>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                {% block table %}
                {% endblock %}
            </div>
        </div>>

    </div>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/tests/list.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            window.Superlists.initialize();
        })
    </script>

</body>
</html>
