<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>待办事项列表</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/base.css">
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Superlists超级表</a>
                {% if user.email %}
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{% url 'my_lists' user.email %}">我的待办事项列表</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text">登录为: {{ user.email }}</li>
                        <li><a href="{% url 'logout' %}">注销</a></li>
                    </ul>
                {% else %}
                    <form class="navbar-form navbar-right" method="POST" action="{% url 'send_login_email' %}">
                        <span>请输入邮件地址登录:</span>
                        <input type="text" name="email" class="form-control">
                        {% csrf_token %}
                    </form>
                {% endif %}
            </div>
        </nav>

        {% if messages %}
            <div class="row">
                <div class="col-md-8">
                    {% for message in messages %}
                        {% if message.level_tag == "success" %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12 jumbotron">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>
                    {% block list_form %}
                        <form id="id_item_form" method="POST" action="{% block form_action %}{% endblock %}">
                            {{ form.text }}
                            {% csrf_token %}
                            <div class="form-group has-error">
                                <div class="help-block">
                                    {% if form.errors %}
                                        {{ form.text.errors }}
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                {% block table %}
                {% endblock %}
            </div>
        </div>>

        <div class="row">
            <div class="col-md-9">
                {% block extra_content %}
                {% endblock %}
            </div>
        </div>

    </div>
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/tests/list.js"></script>

    {% block scripts %}
        <script type="text/javascript">
            $(document).ready(function () {
                window.Superlists.initialize();
            });
        </script>
    {% endblock scripts %}

</body>
</html>
